* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f1f1f1;
}

a,
input,
button {
  display: block;
  font: inherit;
  color: inherit;
  border: none;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
}

h6 {
  font-size: 24px;
}

.container-fluid {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.container-sm {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}
.app-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}
.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 23px 16px;
  background-color: #fff;
  transition: all 0.3s;
}

.main-content {
  margin-left: 300px;
  background: inherit;
  transition: all 0.3s;
}
