* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f1f1f1;

}

a,
input,
button {
  display: block;
  font: inherit;
  color: inherit;
  border: none;
  text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar {
    width: 300px;
    height: 100vh;
    display: sticky;
    top: 0;
    padding: 23px 16px;
    background-color: #fff;
}

.main-content {
    padding: 23px 16px;
    background: inherit;
    width: 100%;
}