.hover-grey:hover {
    background: #ccc;
    color: black;
  }
  
  
  .hover-black:hover,
  .active-black {
    background: #000;
    color: white;
  }

.heading3-box {
  padding: 24px 0;
  font-size: 20px;
  font-weight: 700;
}

.heading4-box {
  font-size: 20px;
  margin: 10px 0;
}

.green {
  background-color: #009688;
}

.w3 {
  text-decoration: underline;
  display: inline-block;
}

.active-blacktag {
  background-color: #000;
  color: #fff;
  font-size: 15px;
}