
/* NAVBAR */

.nav-container {
  margin-left: 300px;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-icon {
  font-size: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 16px;
}

.nav-icon:hover {
  color: #757575;
  background-color: #ccc;
}

.nav-avatar {
  margin: 16px 0;
}
.nav-avatar a {
  background-image: url("../img/profile/profile-1.jpg");
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background-size: cover;
  background-position: center;
}

.nav-avatar a:hover {
  opacity: 0.6;
}


