@media (max-width: 993px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .main-content,
  .nav-container {
    margin-left: 0;
  }

  .nav-container {
    display: flex;
  }
}

@media (max-width: 600px) {
  .portfolio-btn-hidden {
    display: none;
  }

  .portfolio-website,
  .about-img,
  .box,
  .prefooter-container {
    grid-template-columns: 1fr;
  }
}
