@media (max-width: 993px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .main-content,
  .nav {
    margin-left: 0;
  }

  .nav {
    display: flex;
  }


}

@media (max-width: 600px) {
    .portfolio-btn-hidden {
        display: none;
    }

    .portfolio-website, 
    .about-img {
        grid-template-columns: 1fr ;
    }
}
